html{
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  margin: 0;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/pics/background.jpeg") center/cover no-repeat;
  filter: brightness(1.1);
  z-index: -1;
}